<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roblox Web</title>
    <link rel="stylesheet" href="./static/lib/skeleton/normalize.css">
    <link rel="stylesheet" href="./static/lib/skeleton/skeleton.css">
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <div class="container">

        <h1>Are you ready for to hear about Roblox Web</h1>
        <h3><a href="http://localhost:5000/Roblox">Roblox Web</a></h3>
        <h3><a href="http://localhost:5000/Robux">Pay Robux Web</a></h3>
        <h3><a href="http://localhost:5000/Earn">Earn Robux Web</a></h3>
        <h3><a href="http://localhost:5000/Profile">Profile Web</a></h3>
        <div class="left">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/b0cu1MzG4gc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>